body {
    font-family: Arial, sans-serif;
    background-color: #a8a0a0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background: rgb(122, 173, 129);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input {
    width: calc(100% - 50px);
    padding: 10px;
    border: 1px solid #6ae44c;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    background-color: hsl(136, 100%, 62%);
    color:  blueviolet;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li button {
    background-color: #dc3545;
}

li button:hover {
    background-color: #c82333;
}
